*{
    /* outline: 1px gold solid; */
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  width: 100%;
  height: 100%;
  background-color: black;
}

/* LOADER */
#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: visible;
  background: #000 url("/img/marvel-intro.gif") no-repeat center center;
}

/* NAVBAR */
.navbar {
  background-color: #202020;
}
#nav-list {
  font-size: 12px;
  padding: 500px;
  width: 100%;
  margin: 0;

}

.nav-scroller {
  background-color: #202020;
  width: 100%;
}
#nav-a {
  background-color: #202020;
}
.menu-option {
  background-color: #202020;
  color: white;
  text-decoration: none;
}
.menu-option:hover {
  text-decoration: underline red;
  color: white;
}
#logo-marvel{
    margin-right: 0.5rem !important;

}
#info-button{ 
    background-color: transparent;
    border: 0;
    padding: 0;
}
#info-button>img{
    filter: opacity(0.4) drop-shadow(0 0 0 white
    );
    margin-left: 5px;
    margin-right: 5px;
}
/* MODAL */
.modal-header>h1{
    color: #d81b1b !important;
}
.modal-footer>div>a{
    text-decoration: none!important;
    margin: 5px;
}
.modal-footer{
    justify-content: space-between !important;
}
.modal-body>a{
  text-decoration: underline ;
  color: #d81b1b;
  font-weight: bold;

}

/* SEARCH */
#search-hidden {
  display: none;
  margin-top: 100px;
}
#search-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search-container {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 20px;
}
.search-content {
  width: 90%;
  height: 43px;
  border-bottom: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.search-content:hover {
  box-shadow: 1px 2px 3px 1px #dfe1e5;
}

#input-search {
  font: 800 26px / 1 RobotoCondensed, "Trebuchet MS", Helvetica, Arial,
    sans-serif;
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
}
#search-print>img{
    filter: opacity(0.4) drop-shadow(0 0 0 white
    );
    margin-left: 5px;
    margin-right: 5px;
}
#button-offer {
  margin-top: 25px;
  margin-left: 165px;
}
#row-img-banner{
width: 935px;
  object-fit: cover;
  clip-path: polygon(0 0, 20% 100%, 100% 100%, 100% 0%);
  background-color: #151515;
}

/* MAIN */
#app {
    background-color: #000;
    display: block;
    margin-top: 100px;
}

/* CAROUSEL */
#carousel-content {
  height: 420px;
  background-color: #000;
}

#carousel-block {
  height: 100%;
}
.img-banner {
  width: 100%;
  object-fit: fill;
}
#carousel-image {
  opacity: 25%;
}

#carousel-image1 {
  opacity: 25%;
}
#carousel-image2 {
  opacity: 25%;
}

/* SERIES */
.serie {
  width: 350px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.serie img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

#content-series {
  background-color: #000;
  padding-top: 30px;
  padding-bottom: 2px;
  color: white;
}

.serie-info {
  color: rgb(0, 0, 0);
  display: flex;
  text-align: center;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.serie-info h6 {
  margin-top: 0;
}
.overview h5 {
  color: red;
}
.overview {
  font-size: 12px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  color: #666;
  background-color: black;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}
.description-web {
  margin-top: 30px;
}
.description-mobile {
  display: none;
}
.serie:hover .overview {
  transform: translateY(0);
}

.know-more {
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  border-radius: 15px;
  padding: 10px 10px;
  margin-top: 5px;
}

h3,
#content-series {
  padding: 15px;
}

#series-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#series-title {
  margin-top: 15px;
}

p,
#menu,
#content-series {
  padding-left: 55px;
  padding-right: 55px;
}

img.img-thumbnail {
  width: 80%;
  height: 80%;
}

/* COMICS */
#comics {
  color: white;
  background-color: #151515;
  width: 100%;
}

#row-comics {
  margin: 0;
  font: 800 26px/1 RobotoCondensed, Trebuchet MS, Helvetica, Arial, sans-serif;
  background-color: #151515;
}

#row-img-comic {
  width: 935px;
  object-fit: cover;
  clip-path: polygon(0 0, 20% 100%, 100% 100%, 100% 0%);
  background-color: #151515;
}

#col-img-comic {
  background-color: #151515;
}

#contentComics {
  background-color: #000;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
}

.main-comic {
  width: 100%;
  background: #000;
  display: grid;
  place-items: center;
}
#slider-comic {
  display: flex;
  width: 100%;
  height: 450px;

  overflow-y: hidden;
  overflow-x: scroll;
}
#slider-comic::-webkit-scrollbar {
  display: none;
}
.comic-container {
  margin: 50px;
  height: 100%;
}
.comic-info {
  color: red;
}
#img-comic {
  margin-top: 50px;
  height: 300px;
  width: 250px;
  padding: 10px;
  object-fit: cover;
  transition: transform 450ms;
}
#img-comic:hover {
  transform: scale(1.08);
}

/* CHARACTERS */
#characters {
  width: 100%;
  height: 400px;
  background: url(https://terrigen-cdn-dev.marvel.com/content/prod/1x/characters_art_mas_mob_01.jpg);
}
#character-info p {
  padding-top: 140px;
}
#character-content {
  background-color: #000;
}
#character-inner {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.character {
  width: 200px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}
.character img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}
.chtr-info {
  color: rgb(0, 0, 0);
  display: flex;
  text-align: center;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.chtr-info h6 {
  margin-top: 0;
}
.overview-character h5 {
  color: red;
}
.overview-character {
  font-size: 12px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  color: #666;
  background-color: black;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}
.character:hover .overview-character {
  transform: translateY(0);
}

/* EVENTS */
#events {
  width: auto;
  background-color: #000;
}
#event-banner {
  width: auto;
  height: 400px;
  background: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/blackpantherwakandaforever_lob_mas_min_dsk_00.jpg") center;
  clip-path: polygon(0 0,0 98%,100% 92%,100% 0);
}
#event-banner-info p {
  padding-top: 140px;
}
#events-content {
  margin: 20px;
}
#info-evnt {
  margin-left: 50px;
  margin-right: 50px;
}
#link-evnt {
  margin-left: 50px;
  margin-right: 50px;
  text-decoration: none;
  color: white;
}
#link-evnt:hover {
  text-decoration: underline red;
  color: white;
}

#img-event {
  margin-top: 20px;
  width: auto;
  height: 350px;
  object-fit: cover;
}

/* FOOTER */
#ftr {
  background-color: #202020;
  font-size: 12px;
  color: white;
  padding: 20px;
}

.social-media {
  display: flex;
  justify-content: space-between;
}
.social {
  text-decoration: none;
  color: red;
  padding-inline: 15px;
}
.terms {
  color: #656565;
  text-align: center;
}
.social-media>div>a>img{
    filter: opacity(0.4) drop-shadow(0 0 0 white);
}

/* BACK TO TOP */
#btn-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: red 1px solid ; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: red; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 15px; /* Increase font size */
}

#btn-top:hover {
  background-color: red;
  color: white;  
}

@media (max-width: 600px) {
  #app{
    margin-top: 117px;
  }
  #btn-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: red 1px solid ; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 15px; /* Increase font size */
  }
  
 
  /* NAV */
  #nav-list {
    outline: #d81b1b;
    background-color: #202020;
    width: 100%;
    padding:0px;
    height: 40px;
    align-items: center;
  }
  #nav-a {
    margin: 15px;
  }
    /* MODAL */
    .modal-header>h1{
        font-size: 17px !important;
    }
    .modal-body{
        font-size: 13.5px !important;
    }
    .modal-footer>div>a>img{
        filter: opacity(0.4) drop-shadow(0 0 0 white);
    }

  /* SEARCH */
  #row-comics {
    width: 100%;
  }
  #row-img-banner{
    width: 100%;
    height: 200px;
    object-fit: cover;
    clip-path: polygon(0 0, 0% 100%, 100% 80%, 100% 0%);
  }
  #row-img-comic {
    width: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 0% 100%, 100% 80%, 100% 0%);
  }
  #col-img-comic {
    padding: 0;
    margin: none;
    background: rgb(0, 0, 0);
  }
  #banner-info {
    text-align: left;
  }
  #button-offer {
    margin-top: 15px;
    margin-left: 125px;
    margin-bottom: 15px;
  }
  #input-search{
    width: 100%;
    height: 100%;
  }
  
  /* CAROUSEL */
  #carousel-content {
    height: 350px;
    background-color: #000;
  }
  #carousel-block {
    height: 100%;
  }
  .img-banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #carousel-image {
    opacity: 40%;
  }

  /* SERIES */
  .serie {
    width: 150px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
  .serie img {
    object-fit: cover;
    height: 250px;
    width: 100%;
    margin: 0;
  }
  #content-series {
    background-color: rgb(0, 0, 0);
    padding-left: 0;
    padding-right: 0;
    color: white;
    
  }
  .serie-info {
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    padding: 10px;
    letter-spacing: 0.2px;
    height: 100%;
  }
  .serie-info h6 {
    text-align: center;
    font-size: 11px;
  }
  .overview h5 {
    margin-top: 15px;
    font-size: 10px;
    color: rgb(255, 0, 0);
  }
  .overview {
    position: absolute;
    text-align: center;
    color: rgb(179, 177, 177);
    background-color: #202020;
    padding: 5px;
    width: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
  }

  .description-mobile {
    display: block;
    margin-bottom: 0;
    font-size: 6px;
    padding: 0;
    margin-top: auto;
  }

  .serie:hover .overview {
    transform: translateY(0);
  }

  .know-more {
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 8px;
    font-weight: bold;
    border: 0;
    border-radius: 15px;
    padding: 5px 5px;
    margin-bottom: 15px;
  }

  h3,
  #content-series {
    padding: 15px;
  }

  #series-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #series-title {
    margin-top: 10px;
  }

  p,
  #menu{
    padding-left: 50px;
    padding-right: 50px;
  }

  img.img-thumbnail {
    width: 80%;
    height: 80%;
  }
  .description-web {
    display: none;
  }

  /* COMICS */
  #col-img-comic {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      344deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(32, 32, 32, 1) 52%,
      rgba(0, 0, 0, 1) 97%
    );
  }
  .main-comic {
    width: 100%;
    background: #000;
    display: grid;
    place-items: center;
  }
  #slider-comic {
    display: flex;
    width: 100%;
    height: 380px;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  #slider-comic::-webkit-scrollbar {
    display: none;
  }
  .comic-container {
    margin: 10px;
    height: 100%;
  }
  .comic-info > h6 {
    margin-top: 15px;
    text-align: center;
    font-size: 11px;
    color: red;
  }
  #img-comic {
    margin-top: 50px;
    height: 230px;
    width: 150px;
    padding: 10px;
    object-fit: cover;
    transition: transform 450ms;
  }
  #img-comic:hover {
    transform: scale(1.08);
  }

  /* CHARACTERS */
  #characters {
    width: 100%;
    height: 400px;
    background: url(https://terrigen-cdn-dev.marvel.com/content/prod/1x/characters_art_mas_mob_01.jpg);
  }
  #character-info p {
    padding-top: 140px;
  }
  #character-content {
    padding: 15px;
    background-color: #000;
  }
  #character-inner {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .character {
    width: 130px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
  }
  .character img {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
  .chtr-info {
    color: rgb(255, 8, 8);
    display: flex;
    text-align: center;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
  }
  .chtr-info h6 {
    margin-top: 0;
  }
  .overview-character h5 {
    color: red;
  }
  .overview-character {
    font-size: 9px;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    color: #666;
    background-color: black;
    padding: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
  }
  .character:hover .overview-character {
    transform: translateY(0);
  }

  
  /* EVENTS */
  
#events {
    background-color: rgb(0, 0, 0);
  }
#event-banner {
    width: auto;
    height: 400px;
    background: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/blackpantherwakandaforever_lob_mas_min_dsk_00.jpg") right;
    clip-path: polygon(0 0,0 98%,100% 92%,100% 0);
  }
#event-banner-info p {
    padding-top: 140px;

  }
  #events-content {
    margin: 10px;
  }
  #event-container{
    margin: 0;
    padding: 0;
  }
  #event-inner{
    display: flex;
    width: auto;
   
  }
  #event-description{
    margin: 0;
    padding: 0!important;
  }
  #event-description>p{
    display: none;
  }
  #info-evnt {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 10px;
    text-align: center;
    color: white !important;
  }
  #event-description>div{
    display: none;
  }
  #link-evnt {
    font-size: 8px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    text-decoration: underline;
    color: rgb(255, 0, 0);
  }
  #link-evnt:hover {
    text-decoration: underline rgb(255, 255, 255);
    color: white;
  }
  
  #img-event {
    margin-top: 0px;
    width: 220px;
    height: 220px;
    object-fit: cover;
    display: block!important;
  }
  #img-event>img{
    width: 100%;
    height: 100%;
  }

  
  /* FOOTER */
  #ftr {
    background-color: #202020;
    font-size:12px;
    color: white;
    padding: 40px;
  }
  .social-media {
    margin: 5px;
    display: block;
    text-align: center;

  }
 .info-developed{
    margin-top: 10px;
    font-size: 15px;
 }
  .social>img{
    height: 12px;
    width: 12px;
  }
  .social {
    text-decoration: none;
    color: red;
    padding-inline: 15px;
  }
  .terms {
    margin: 15px;
    font-size: 12px;
    color: #656565;
    text-align: center;
  }


}
